* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .container {
        padding: 58px;
        display: flex;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: #C4CFE9;
        padding: 24px;
        border-radius: 24px;
        gap: 12px;
        width: 50%;
    }

    input {
        border: solid #84a8dc;
        border-radius: 18px;
        padding: 8px;
    }

    input:focus, textarea:focus {
        outline: none;
    }

    button {
        border: none;
        background-color: #506AFF;
        padding: 12px;
        border-radius: 10px;
        width: 30%;
        color: white;
        align-self: flex-end;
    }
}

@media (max-width: 768px) {
    .container {
        height: 100vh;
        padding: 58px;
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: #C4CFE9;
        padding: 24px;
        border-radius: 24px;
        gap: 12px;
    }

    input {
        border: solid #84A8DC;
        border-radius: 18px;
        padding: 8px;
    }

    input:focus, textarea:focus {
        outline: none;
    }

    button {
        border: none;
        background-color: #506AFF;
        padding: 12px;
        border-radius: 10px;
        width: 30%;
        color: white;
        align-self: flex-end;
    }
}
