@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: row;
    padding: 34px;
    width: 100%;
    height: 100%;
    gap: 34px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 2;
    gap: 34px;
}

.top {
    flex-grow: 1;
}

.bottom {
    flex-grow: 1;
}

.current-time {
    height: fit-content;
    width: 658px;
    background-color: #f0f0f0;
    border-radius: 34px;
    padding: 34px;
}

.lab-status {
    width: 658px;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 34px;
    padding: 34px;
}

#time {
    font-size: 138px;
}

p {
    font-size: 48px;
    margin: 0;
}

#availability {
    width: fit-content;
    border-radius: 12px;
    margin-top: 72px;
    padding: 0 12px;
    font-size: 98px;
}

.occupato {
    background-color: #bf0603;
    color: white;
}

.libero {
    background-color: #008000;
    color: white;
}

#group-info {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 34px;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#group-info h1 {
    font-size: 132px;
}

#group-info h2 {
    font-size: 126px;
}

#group-info h1 span{
    background-color: #4e6dfc;
    color: white;
    padding: 0 26px;
    border-radius: 12px;
}

#group-info p{
    font-size: 86px;
    margin-bottom: 0;
}

.outer-div-slider {
    border: black 6px solid;
    border-radius: 32px;
    overflow: hidden;
    width: 100%;
    height: 10%;
}

/* Rimuove lo stile nativo */
.slider {
    -webkit-appearance: none; /* Per Safari/Chrome */
    appearance: none; /* Per altri browser */
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 32px; /* Aggiungi il bordo arrotondato */
    overflow: hidden;
}

/* Stile per lo sfondo */
.slider::-webkit-progress-bar {
    background-color: #f0f0f0; /* Colore dello sfondo */
    border-radius: 32px;
}

/* Stile per il valore (parte colorata) */
.slider::-webkit-progress-value {
    background-color: red; /* Colore della barra di avanzamento */
    border-radius: 32px; /* Aggiungi il bordo arrotondato */
}

.slider::-moz-progress-bar {
    background-color: red; /* Colore della barra per Firefox */
    border-radius: 32px;
}