#output-orientati{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#orientatiTotali{
    background-color: gray;
    padding: 6px;
    border-radius: 8px;
    color: white;
}

#orientatiPresenti{
    background-color: green;
    padding: 6px;
    border-radius: 8px;
    color: white;

}

#orientatiAssenti{
    background-color: red;
    padding: 6px;
    border-radius: 8px;
    color: white;

}

#chart-ritardo{
}

main {
    display: flex;
    height: 100vh;
}

#navbarWrapper {
    flex-shrink: 0;
    width: 60px;
}

#content {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
}