@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --phone-width: 500px;
    --primary-color: #534f59;
    --secondary-color: #65558f;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Stili alert */

@media screen and (max-width: 766px) {
    #alert-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;

        top: 10px;
        left: 15%;
        width: 70%;

        height: 100%;
        max-height: 20vh;
        overflow-y: hidden;
    }
}

@media screen and (min-width: 767px) {
    #alert-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;

        top: 10px;
        right: 10px;
        width: 25%;

        height: 100%;
        max-height: 95vh;
        overflow-y: hidden;
    }
}

.alert-danger {
    position: relative;
    background-color: rgb(255, 212, 212);
    color: red;
    border: solid red 1px;
    border-radius: 5px;

    width: auto;
    height: auto;
    padding: 10px;

    top: 0;
    opacity: 1;
}

.alert-info {
    position: relative;
    background-color: rgb(223, 212, 255);
    color: blue;
    border: solid blue 1px;
    border-radius: 5px;

    width: auto;
    height: auto;
    padding: 10px;

    top: 0;
    opacity: 1;
}

.alert-success {
    position: relative;
    background-color: rgb(212, 255, 213);
    color: green;
    border: solid green 1px;
    border-radius: 5px;

    width: auto;
    height: auto;
    padding: 10px;

    top: 0;
    opacity: 1;
}

@keyframes enterAlert {
    0% {
        top: 20vh;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.alert-enter {
    animation: enterAlert 0.5s;
}

@keyframes exitAlert {
    100% {
        transform: scaleY(0);
    }
}

.alert-exit {
    transform-origin: top;
    animation: exitAlert 0.5s forwards;
}

