button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 14px;
  gap: 6px;
  border-radius: 16px;
  font-size: 16px;
  border: none;
  background-color: #005CD5;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #317ce4;
}
