<div class="dashboard-layout">
  <app-nav-rail></app-nav-rail>
  <main class="dashboard-content">
    <div class="dashboard-body">

      <!--
      <button (click)="apriModale()">Apri modale</button>

      <app-modal
        [isOpen]="modalVisible"
        [title]="'Benvenuto!'"
        (onClose)="chiudiModale()"
      >
        <p>Contenuto della modale personalizzato.</p>
        <button (click)="chiudiModale()">Chiudi</button>
      </app-modal>
      -->

      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-users"></i> I tuoi ragazzi</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="tabellaRagazzi" class="table">
              <thead>
              <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Scuola di provenienza</th>
                <th>Azioni</th>
              </tr>
              </thead>
              <tbody>
                @for (ragazzo of ragazzi; track $index) {
                  <tr>
                    <td>{{ ragazzo.nome }}</td>
                    <td>{{ ragazzo.cognome }}</td>
                    <td>{{ ragazzo.scuolaDiProvenienza_id }}</td>
                    <td>
                      <app-button [label]="'Elimina'" [icon]="'delete'" (click)="eliminaRagazzo(ragazzo.id)" type="submit"></app-button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <div class="card">
        <div class="card-header">
          <h2><i class="far fa-clock"></i> Orari disponibili</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="tabellaOrari" class="table">
              <thead>
              <tr>
                <th>Data</th>
                <th>Percorso</th>
                <th>Fasce Orarie</th>
                <th>Azioni</th>
              </tr>
              </thead>
              <tbody>
                @for (data of date; track $index) {
                  <tr>
                    <td [attr.rowspan]="data.percorsi.length">
                      {{ data.data }}</td>
                    <td>{{ data.percorsi[0].nome }}</td>
                    <td>
                      @for (fascia of data.percorsi[0].fasce; track $index) {
                        {{ fascia.oraInizio }}:00@if ($index < data.percorsi[0].fasce.length - 1) {, }
                      }
                    </td>
                    <td [attr.rowspan]="data.percorsi.length">
                      <app-button [label]="'Iscriviti'" [icon]="'add'" (click)="aggiungiIscrizione()"></app-button>
                    </td>
                  </tr>
                  @for (percorso of data.percorsi; let i = $index; track i) {
                    @if (i > 0) {
                      <tr>
                        <td>{{ percorso.nome }}</td>
                        <td>
                          @for (fascia of percorso.fasce; track $index) {
                            {{ fascia.oraInizio }}:00@if ($index < percorso.fasce.length - 1) {, }
                          }
                        </td>
                      </tr>
                    }
                  }
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-clipboard-list"></i> Le tue iscrizioni</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="tabellaIscrizioni" class="table">
              <thead>
              <tr>
                <th>Data</th>
                <th>Percorso</th>
                <th>Ora</th>
                <th>Ragazzi</th>
                <th>azioni</th>
              </tr>
              </thead>
              <tbody>
                @for (iscrizione of iscrizioni; track $index) {
                  <tr>
                    <td>{{ iscrizione.fasciaOraria.data.data }}</td>
                    <td>{{ iscrizione.fasciaOraria.percorso.nome }}</td>
                    <td>{{ iscrizione.fasciaOraria.oraInizio }}</td>
                    <td>
                      @for (r of iscrizione.ragazzi; track $index) {
                        {{ r.nome }} {{ r.cognome }}@if ($index < iscrizione.ragazzi.length - 1) {
                          ,
                        }
                      }
                    </td>
                    <td>
                      <button (click)="eliminaIscrizione(iscrizione.id)">Elimina</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
