<div class="orientati-manager">
  <div class="search-bar">
    <app-search-bar></app-search-bar>
    <app-button [label]="'Aggiungi'" [icon]="'edit'"></app-button>
  </div>
  <div class="orientati-manager-body">
    <table>
      <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Scuola</th>
        <th>Gruppo</th>
        <th>Orario di partenza</th>
      </tr>
      </thead>
    </table>
    <div class="orientati-list">
      @for (orientato of orientati; track orientato.id) {
        <div class="orientato-item" [id]="'email-' + orientato.id"
             [class.swiped-left]="currentSwipedEmail === orientato.id && swipeDirection === 'left'"
             [class.swiped-right]="currentSwipedEmail === orientato.id && swipeDirection === 'right'"
             (touchstart)="onTouchStart($event, orientato.id)" (touchmove)="onTouchMove($event, orientato.id)"
             (touchend)="onTouchEnd($event, orientato.id)">

          <div class="swipe-background left" (click)="handleGreenClick($event, orientato.id)">
            <div class="action-icon">
              Sposta
            </div>
          </div>

          <div class="swipe-background right" (click)="handleBlueClick($event, orientato.id)">
            <div class="action-icon">
              Archivia
            </div>
          </div>

          <div class="orientato-content">
              <td class="p-2 border">{{ orientato.nome }}</td>
              <td class="p-2 border">{{ orientato.cognome }}</td>
              <td class="p-2 border">{{ orientato.scuolaDiProvenienza_nome }}</td>
              <td class="p-2 border">{{ orientato.gruppo_nome }}</td>
              <td class="p-2 border">{{ orientato.gruppo_orario_partenza }}</td>
          </div>
        </div>
      } @empty {
        <div class="empty-state">
          <p>No emails to display</p>
        </div>
      }

    </div>
  </div>
</div>
