<div class="input-container">
  <input [type]="type" [formControl]="control" [class.error]="control.invalid && formSubmitted" required>
  <label [class.error-label]="control.invalid && formSubmitted">{{ label }}</label>
  <div class="error-message">
    <span class="material-symbols-outlined"
      [style.visibility]="control.invalid && formSubmitted ? 'visible' : 'hidden'">
      error
    </span>
    <p [style.visibility]="control.invalid && formSubmitted ? 'visible' : 'hidden'">
      Enter an email or phone number
    </p>
  </div>
</div>