<main>
    <div class="auth-card">
        <div class="auth-card-left">
            <div class="logo"></div>
            <div class="auth-card-title">
                <h2>Accedi</h2>
                <p>per continuare su #Orientati</p>
            </div>
        </div>
        <div class="auth-card-right">
            @if(Registrazione) {
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="auth-card-form">
                    <app-form-input [control]="getControl('nome', signupForm)" label="Username" type="text"
                        [formSubmitted]="formSubmitted"></app-form-input>
                    <app-form-input [control]="getControl('cognome', signupForm)" label="Username" type="text"
                        [formSubmitted]="formSubmitted"></app-form-input>
                    <app-form-input [control]="getControl('comune', signupForm)" label="Username" type="text"
                        [formSubmitted]="formSubmitted"></app-form-input>
                </div>
                <app-form-button type="submit"></app-form-button>
            </form>
            } @else {
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="auth-card-form">
                    <app-form-input [control]="getControl('email', loginForm)" label="Email" type="text"
                        [formSubmitted]="formSubmitted"></app-form-input>
                    <app-form-select [options]="frutti" ></app-form-select> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique a ligula at euismod.
                    </p>
                </div>
                <app-form-button type="submit"></app-form-button>
            </form>
            }
        </div>
    </div>
</main>