button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #005CD5;
    padding: 14px;
    gap: 6px;
    border-radius: 16px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #317ce4;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

