<div class="gruppi-traker">
  @for (gruppo of gruppi; track gruppo.id) {
    <div class="content">
      <div class="alignInColumn">
        <span>
          <h1>
            <span class="highlight">{{ gruppo.nome }}</span>
            <p>{{ gruppo.orario_partenza }}</p>
          </h1>
        </span>
        <p>{{ gruppo.aula_materia }} - {{ gruppo.aula_posizione }}</p>
        <h1>{{ gruppo.aula_nome }}</h1>
        <p>Partenza: {{ gruppo.orario_partenza_effettivo }}</p>
      </div>

      <!-- ✅ Qui usiamo la funzione -->
      <div class="alignInColumn">
        <span [ngClass]="getInOrario(gruppo).classe">
          {{ getInOrario(gruppo).text }}
        </span>
        <p>
          Partecipanti:
          {{ gruppo.orientati_presenti }}/
          {{ gruppo.totale_orientati - gruppo.orientati_assenti }}
          ({{ gruppo.totale_orientati }})
        </p>
      </div>
    </div>
  }
</div>
