.gruppi-traker {
  background-color: white;
  height: 100%;
  border-radius: 26px;
  padding: 18px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.highlight {
  background-color: #4e6dfc;
  color: white;
  padding: 0 18px;
  border-radius: 12px;
}

.alignInColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.content {
  background-color: #f0f0f0;
  padding: 16px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.on-time {
  background-color: green;
  padding: 6px;
  border-radius: 8px;
  color: white;
  height: fit-content;
  text-align: center;
}

.late {
  background-color: red;
  padding: 6px;
  border-radius: 8px;
  color: white;
  height: fit-content;
  text-align: center;
}

.not-started {
  background-color: gray;
  padding: 6px;
  border-radius: 8px;
  color: white;
  height: fit-content;
  text-align: center;
}

.bit-late{
  background-color: yellow;
  padding: 6px;
  border-radius: 8px;
  color: black;
  height: fit-content;
  text-align: center;
}
