html, body {
    height: 100%;
    margin: 0;
  }
  
  .position-relative {
    display: flex;
    flex-direction: column;
    min-height: 100vh; }
  
  .h-100 {
    flex: 1; 
  }
  
  footer {
    background-color: var(--primary); 
    padding: 20px;
  }
  

a {
    text-decoration: none;
    color: #49454f;
}