<div class="aule-overview">
  @for (aula of aule; track aula.id) {
    <div class="aula-item">
      <div class="top">
        <div>
          <h1>
            {{ aula.nome }}
            <span>{{ aula.posizione }}</span>
          </h1>
        </div>
        <span [class.occupata]="aula.occupata" [class.libera]="!aula.occupata">
          {{ aula.occupata ? 'Occupata' : 'Libera' }}
        </span>
      </div>
      <div>
        <h1>{{ aula.materia }}</h1>
        @if (aula.occupata) {
          <p>Occupata da Gruppo {{ aula.gruppo_nome }} fino alle {{ orario }}</p>
        }
      </div>
    </div>
  }
</div>
