.select-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.select-container select {
  color: #e3e3e3;
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 18px;
  padding: 16px 18px;
  width: 460px;
  height: 56px;
  outline: none;
  transition: color 0.2s ease;
}

.select-container select:valid,
.select-container select:focus {
  border: 2px solid #e3e3e3;
}

.select-container select:focus + label,
.select-container select:valid + label {
  font-size: 14px;
  top: -9px;
}

.select-container select.error {
  border: 2px solid #f2b8b5;
}



.select-container label.error-label {
  color: #f2b8b5;
  font-size: 14px;
  top: -9px;
}

.select-container label {
  position: absolute;
  left: 9px;
  top: 17px;
  background-color: black;
  color: #e3e3e3;
  font-size: 18px;
  padding: 0 10px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.error-message {
  color: #f2b8b5;
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  min-height: 24px;
}

span {
  font-size: 16px;
}



.select-container {
  position: relative;
}

.select-arrow {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #e3e3e3;
  transition: transform 0.3s ease;
}

.select-arrow.open {
  transform: translateY(-50%) rotate(180deg);
}

.select-container select {
  appearance: none;         /* Standard */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none;    /* Firefox */
  background-image: none;   /* Alcuni browser la disegnano comunque */
  background-color: transparent;
}

