@if (isOpen) {
<div class="modal-backdrop" (click)="close()"></div>
}
@if (isOpen) {
  <div class="modal">
    <div class="modal-header">
      <h2>{{ title }}</h2>
      <button (click)="close()">×</button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <h2><i class="fas fa-user-plus"></i> Aggiungi un ragazzo</h2>
        </div>
        <div class="card-body" [formGroup]="ragazzoForm" (ngSubmit)="aggiungiRagazzo()">
          <form id="formRagazzo" class="form">
            <app-form-input [control]="getControl('nome', ragazzoForm)" label="Nome" type="text"></app-form-input>
            <app-form-input [control]="getControl('cognome', ragazzoForm)" label="Cognome" type="text"></app-form-input>
            <app-form-select  [options]="scuole" [control]="getControl('scuolaDiProvenienza_id', ragazzoForm)" label="Scuola di provenienza" [formSubmitted]="formSubmitted"></app-form-select>
            <app-button [label]="'Aggiungi'" [icon]="'add'" type="submit"></app-button>
          </form>
        </div>
      </div>
    </div>
  </div>
}
